.assignemnt-list {
    list-style-type: disc;
}

.assignment-li {
    margin-bottom: .25em;
  a {
      font-size: 22px;
  }
}
.assignment-box {
    border-top: 1px solid black;
    margin-top: 30px;
}